@import "node_modules/govuk-frontend/govuk/settings/all";
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/govuk/all";

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/docs/examples/blank-unbranded

.app-banner--warning {
  background: #ff9e44;
  padding: 24px;
  p {
    color: black;
  }
}

.goose-liked-hint {
  color: #9d9da1;
}

.justified-text {
  text-align: justify;
}

.link:focus {
  outline: unset;
  background-color: unset;
  box-shadow: unset;
  text-decoration: unset;
}

.custom-list {
  display: flex; 
  flex-direction: column;
}

.custom-list--one {
  order: 1;
}

.custom-list--two {
  order: 2;
}

.custom-list--three {
  order: 3;
}

dt {
  margin-bottom: 0.5rem;
}

dd {
  margin-bottom: 1.5rem;
}