{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">GOOSE REGISTERED</h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p>
      We have received your goose-related information.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>We'll add it to our goose database.</p>

  </div>
</div>

{% endblock %}