{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Goose recorded - Record a goose sighting
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">GOOSE RECORDED</h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p>
      We have received your goose-related information.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>Nothing with the data but accessibility learning, hopefully!</p>

    <p class="justified-text">If you've found all the accessibility issues you can find, check out <a href="https://github.com/ministryofjustice/record-a-goose-sighting/blob/master/answers.md">the answers to this exercise</a>. Or, if you want to check through the service again for any more issues, go back to the start and <a href="/">record another goose sighting</a>!</p></p>

    <img src="https://media.giphy.com/media/S4P8Z5fiLRpOU/giphy.gif" />

  </div>
</div>

{% endblock %}