{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Goose recorded - Record a goose sighting
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">GOOSE RECORDED</h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p>
      We have received your goose-related information. 
    </p>

    <img src="https://media.giphy.com/media/S4P8Z5fiLRpOU/giphy.gif" />

    <h2 class="govuk-heading-m">Finished the accessibility exercise?</h2> 

    <p class="justified-text">If you think you've found all the accessibility issues (including ones on this page) <a href="/steps/answers">take a look at the answers</a>.</p> 

    <p>Or, if you want to have another check, go back to the start and <a href="/">record another goose sighting</a>!</p></p>


  </div>
</div>

{% endblock %}