{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Worksheet - Record a goose sighting
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a class="govuk-back-link" href="/">Back</a>

    <h1 class="govuk-heading-xl">Worksheet for 'Recording a goose sighting' accessibility exercise</h1>

    <p>You can use this as a worksheet for recording issues you find in this exercise. Copy and paste the below text into a Word Doc, Google Doc, or on your device's notepad.</p>

    <h2 class="govuk-heading-m">Testing checklist</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Can you access everything by <a class="govuk-link" href="https://www.nngroup.com/articles/keyboard-accessibility/">pressing the tab key</a>?</li>
      <li>Does <a class="govuk-link" href="https://wave.webaim.org/">WAVE</a> find any errors?</li>
      <li>Does WAVE's colour contrast tab find any errors?</li>
    </ul>

    <p>Government Digital Services have recently published <a class="govuk-link" href="https://www.gov.uk/government/publications/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one">how to do a basic accessibility check</a>. If you'd like, you could use these checks as an extension task.</p>

    <div class="govuk-inset-text">
      <p>If you're having trouble tabbing, and you're using Firefox or Safari, <a class="govuk-link" href="https://www.scottohara.me/blog/2014/10/03/link-tabbing-firefox-osx.html">you might need to enable tabbing</a>.</p>
    </div>

    <h2 class="govuk-heading-m">Pages to test</h2>

    <h3 class="govuk-heading-m">Start page</h3>
    <p>...</p>

    <h3 class="govuk-heading-m">Do you like geese page</h3>
    <p>...</p>

    <h3 class="govuk-heading-m">What type of goose did you see</h3>
    <p>...</p>

    <h3 class="govuk-heading-m">When did you see the goose</h3>
    <p>...</p>

    <h3 class="govuk-heading-m">Check your answers</h3>
    <p>...</p>

    <h3 class="govuk-heading-m">End page</h3>
    <p>...</p>

  </div>
</div>

{% endblock %}