
{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/environment-countryside">Environment and Countryside</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/environment-countryside/wildlife-biodiversity">Wildlife and Biodiversity</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>tell if us you like geese</li>
        <li>state the date on which you last saw a goose</li>
        <li>tell us your favourite type of goose</li>
      </ul>

      <p>Sharing this information with us takes around 5 minutes.</p>
      
      <p><a href="https://docs.google.com/document/d/1UIxIMgDTbxUQi4H4sWkK0jJGV3Yc2h3exJRQNNlwNts/edit?usp=sharing">Accessibility worksheet</a> to accompany this exercise.</p>
      
      <a href="/steps/geese-liked" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h1 class="govuk-heading-m" id="subsection-title">
          Information about Geese
        </h1>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16" style="display: flex; flex-direction: column">
            <li style="order: 1;">
              <a href="https://en.wikipedia.org/wiki/Goose">
                Read about geese on Wikipedia
              </a>
            </li>
            <li style="order: 3;">
              <a href="https://www.wildlondon.org.uk/species/canada-goose" class="govuk-!-font-weight-bold">
                More
              </a>
            </li>
            <li style="order: 2;">
              <a href="https://www.rspb.org.uk/" target="_blank">
                Visit the RSPB website
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}

