
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Instructions - Record a goose sighting
  {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        'Record a goose sighting' accessibility exercise instructions
      </h1>

      <p>'Record a goose sighting' is a made-up government service, filled with accessibility issues. Your task is to find them all!</p>

      <p>To help find the issues, you will need to use the <a href="https://wave.webaim.org/extension/">WAVE accessibility plugin</a> with either Chrome or Firefox. You'll also need to try to complete the exercise using just your keyboard. You should also read these tips on <a class="govuk-link" href="/steps/worksheet">what to look for and how to record your findings.</a></p>

      <p>There are 6 pages in total:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Start page</li>
        <li>Do you like geese?</li>
        <li>What type of goose did you see?</li>
        <li>When did you see the goose?</li>
        <li>Check your answers</li>
        <li>Confirmation page</li>
      </ul>

      <p>Accessibility issues start on the next page. Good luck!</p>

      <a href="/steps/start" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>

      <p>If you'd like to know more about the background, visit the blog post about this, <a href="https://accessibility.blog.gov.uk/2020/01/14/training-people-to-do-accessibility-reviews/">'Training people to do accessibility reviews'.</a></p>

      <p>If you'd like to go straight to the answers, <a href="https://record-a-goose-sighting.herokuapp.com/steps/answers">view the answers page</a> - no cheating though!</p>

    </div>
  </div>
{% endblock %}
